# Compiled outputs
*.exe
*.dll
*.lib
*.obj
*.exp

# Visual Studio
.vs/
x64/
*.vcxproj.user
*.sln
*.user
*.db
*.pdb
*.ilk
*.obj
*.exe
*.dll
*.lib
*.ipch

# Build folders
bin/
build/
out/

# ===== Worksheet 4 =====
Worksheet4/build/

# CMake / build
build/
CMakeFiles/
CMakeCache.txt

# Doxygen generated documentation
Worksheet5/html/
